<%- layout('layouts/boilerplate')%>
    <h1>Log In</h1>
    <form action="/users/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <div>
                <label for="username" class="form-label ">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success" class="mb-3" id="new-save">Login</button>
    </form>